<h1>Eat-Da-Burger!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col-6">
        {{#each burgers}}
        {{#unless this.devoured}}
        <div>
         
            <div class='notEaten' data="{{this.id}}"> {{this.burger_name}}</div>
        </div>
        {{/unless}}
        {{/each}}
      </div>

      <div class="col-6">
        {{#each burgers}}
        {{#if this.devoured}}
        <div class='burgerEaten'>
          <div>
            {{this.burger_name}}
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add A Burger Option</h2>

<div class="container">

  <div class="row">
    <div class="col-12">
      <form action="/burgers" method="POST">
        <input type="text" id="name" name="burger_name" placeholder="Declare your burger">
        <button type="submit" class="addBurgerButton">Engage Burger!</button>
      </form>
    </div>
  </div>
</div>

 <script>
    $(".addBurgerButton").on("click", function(event){
      event.preventDefault();
       let newBurger={burgerName: $('#name').val()}
        $.post("/api/burger",newBurger, (res)=>{
          console.log(res)
          res.id?window.location="/":console.log("post errer")
          //let carded= age>20?true:false //ternary conditions or ternary statements (from es6/ecma2015)
          } )
    })
    //$.get
    //$("#newBurger").append()

   $(".notEaten").on("click", function(event) {
      event.preventDefault();
     console.log(this)
   
     console.log($(this))
    
    $.ajax({
   url: `api/burgers/${$(this).attr('data')}`,
   type: 'PUT',
   success: function(response) {
    console.log("200",response);
    window.location="/"
   }
});
    })
    </script>
    